<div class="col-xs-4 column">
  <div class="row step-header">
    <h2>1 - write a template</h2>
  </div>

  <div class="row fitheight long-container">
    <div class="consultable-container">
      <textarea 
        msd-elastic
        placeholder="type a template for markdown body" 
        ng-model="activeTemplate"
      ></textarea>
    </div>
  </div>
  
  <div class="row bottom-group">
    <div class="row final-step btn-group">
      <div class="btn">help</div>
      <div class="btn">import</div>
      <div class="btn">save</div>
    </div>
  </div>
    
</div>
<!--END COLUMN 1 -->

<!-- COLUMN 2 -->
<div class="col-xs-4 column">
  <div class="row step-header">
    <h2>2 - choose reference(s)</h2>
  </div>

  <div class="row selectors-container inline-options-container">
    <form class="inline-option inline-option-big inline-options-container" ng-submit="newZoteroQuery(searchQuery)">
      <input class="inline-option inline-option-big" type="text" placeholder="query your zotero library" ng-model="searchQuery">
      <input class="inline-option" type="submit">
    </form>
    <div 
      class="inline-option btn"
      ng-click="addAllMatching()"
    >
      All
    </div>
  </div>

  <div class="row results-display-container fitheight long-container animate" resizetrigger="{{selectedItems.length}}">
    <div class="consultable-container animate">

      <div class="loading"
        ng-show="overallItems.length == 0"
      >
        Loading
      </div>
      <div 
        class="zotero-item animate"
        ng-repeat="item in overallItems | filter:searchInItem"
        ng-click="addToSelected($index)"
      >
        <h4 class="zotero-title" ng-bind="item.data.title"></h4>
        <p class="zotero-authors" ng-if="item.data.creators">  
          <p ng-repeat="creator in item.data.creators track by $index">
            {{creator.firstName}} {{creator.lastName}}, {{creator.creatorType}}.
          </p>
        </p>
        
        <p class="zotero-type"  ng-bind="'Item type : '+item.data.itemType">Type of entry</p>

        <div class="btn-group">
            <a target="blank"  class="zotero-url btn" ng-if="item.data.url" ng-href="{{item.data.url}}">  
              Original link
            </a>
            <a class="zotero-url btn" target="blank" ng-href="{{item.links.alternate.href}}">
              Zotero link
            </a>
        </div>
      </div>

      <div 
        class="more-items"
        ng-click="getMore()"
        ng-show="overallItems.length > 0"
      >
        Fetch more items
      </div>
    </div>
  </div>



  <div class="row bottom-group">
    <div 
      class="row selected-items-container animate"
      ng-show="selectedItems.length > 0"
    >
      <h3>
        Items selected for processing ({{selectedItems.length}})
      </h3>
    </div>
    <div class="selected-list-wrapper long-container">
      <div class="selected-list-container consultable-container">
        <div 
          class="zotero-item"
          ng-repeat="item in selectedItems track by $index"
          ng-click="removeFromSelected($index)"
        >
          <h4 class="zotero-title" ng-bind="item.data.title"></h4>
        </div>
      </div>
    </div>
    <div class="row final-step inline-options-container">
      <div class="inline-option">API key</div>
      <form class="inline-option inline-options-container" ng-submit="changeAPIKey(apiKey)">
        <input class="inline-option" type="text" placeholder="paste your api key here" ng-model="apiKey">
        <input class="inline-option" type="submit">
      </form>
    </div>
  </div>
</div>
<!-- END COLUMN 2 -->

<!-- COLUMN 3 -->
<div class="col-xs-4 column">
  <div class="row step-header">
    <h2>3 - export markdown</h2>
  </div>
  <div class="fitheight long-container">
    <div 
      class="consultable-container"
      ng-bind-html="displayedPreview"
    >
    </div>
  </div>
  <div class="row bottom-group">
    <div class="row final-step btn-group">
      <div 
          class="btn"
          ng-init="exportAsList=false"
          ng-click="exportAsList = !exportAsList"
      >
          <span ng-if="exportAsList">
            list
          </span>
          <span ng-if="!exportAsList">
            files
          </span>
      </div>
      <div 
        class="btn"
        clip-copy="copyToClipboard(processedPreview)"
      >
        clipboard
      </div>
      <div class="btn">
        download
      </div>
    </div>
  </div>
</div>
<!-- END COLUMN 3 -->
